<section class="instruction-text">
<p class="center-text">Welcome to Devveron!</p>
<p>> You are about to go on a text-based adventure.</p>
<p>> You must choose your own path and explore the world in search for the closing curly brace!</p>
<p>> Use the links below to navigate through Devveron and above all else, have fun!</p>

</section>
<ul>

<section class="story text">
  <p>You find yourself in a ______.</p>
  <p>Where do you want to go next?</p>
</section>

  {{!-- THIS IS A TEST! --}}
  {{#each highstreet}}
  <li class="story-text">{{this}}</li>
  {{/each}}
  {{!--                 --}}
</ul>