<section class="instruction-text">
<p class="center-text">Welcome to Devveron!</p>
<p>> You are about to go on a text-based adventure.</p>
<p>> You must choose your own path and explore the world in search for the closing curly brace!</p>
<p>> Where do you wish to start your adventure?</p>

</section>
<ul>
<li><a href="/town/tavern">In the tavern.</a></li>
<li><a href="/country/2/3">With a caravan of merchants headed to town.</a></li>
</ul>