<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="/main.css">
  <link href="https://fonts.google.com/specimen/Major+Mono+Display?category=Monospace" rel="stylesheet">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <header>devveron</header>
  <section id="window-container">
    <section id="inner-window-decoration">
      <section id="inner-window">
       {{{body}}}
      </section>
    </section>
  </section>
</body>
</html>