#frame {
  display: grid;
  grid-template-areas: 
    '. north .'
    'west details east'
    '. south .';
  grid-template-rows: 14% 70% 14%;
  grid-template-columns: 14% 70% 14%;
  gap: 1%;
  width: 100%;
  height: 100%;
}

main {
  grid-area: details;
  display: flex;
  flex-direction: column;
  flex-shrink: 1;
}

#north {grid-area: north;}

#south {grid-area: south;}

#east {grid-area: east;}

#west {grid-area: west;}



nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}